{# empty Twig template #}

	<section id="about-us">
		<div class="about-bg"></div>
		<div class="container">
			<div class="about-details wow flipInX" data-wow-duration="1500ms" data-wow-delay="300ms">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0">
						<div class="about-image">
							<img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/about-us/about.jpg') }}" alt="" />
						</div>						
					</div>
					<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0">
						<div class="default-bg about-content">
							<h2>About <span>Us</span></h2>
							<p>From top notch Internationally awarded underwater photographers, authors and videographers to Marketing and business solution specialists we offer a full service to promote dive destinations worldwide. </p>
							<p>Every member on our team is a experienced scuba diver with over a decade of know how in different areas from attending International dive fairs, publishing in International Dive magazines, producing dive destination videos, creating diving sites and apps, publishing books and brochures, or even designing official dive destination stands for International diving fairs.</p>
						</div>						
					</div>
				</div>
			</div>
		</div>
		<div class="our-team">
			<div class="container">
				<h2 class="wow fadeIn" data-wow-duration="1200ms" data-wow-delay="300ms">Meet the <span>Team</span></h2>
				<div class="row">
					<div class="col-sm-3">
						<div class="team-member wow flipInY" data-wow-duration="1200ms" data-wow-delay="300ms">
							<div class="single-member">
								<img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/about-us/member1.jpg') }}" alt="" />	
								<h3>João Pedro Silva</h3>
								<p>marketing</p>
							</div>
							<div class="overlay">
								<ul>
									<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="team-member wow flipInY" data-wow-duration="1500ms" data-wow-delay="600ms">
							<div class="single-member">
								<img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/about-us/member2.jpg') }}" alt="" />	
								<h3>Jordi Chias Pujol</h3>
								<p>photographer</p>
							</div>
							<div class="overlay">
								<ul>
									<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
                                                                
                                                                					<div class="col-sm-3">
						<div class="team-member wow flipInY" data-wow-duration="1500ms" data-wow-delay="600ms">
							<div class="single-member">
								<img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/about-us/member3.jpg') }}" alt="" />	
								<h3>Luis Miguens</h3>
								<p>technology</p>
							</div>
							<div class="overlay">
								<ul>
									<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					
                                        <div class="col-sm-3">
						<div class="team-member wow flipInY" data-wow-duration="1800ms" data-wow-delay="900ms">
							<div class="single-member">
								<img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/about-us/member4.jpg') }}" alt="" />	
								<h3>Nuno Sá</h3>
								<p>videographer</p>
							</div>
							<div class="overlay">
								<ul>
									<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!--/#our team--> 
	</section><!--/#about us--> 
