{# empty Twig template #}

<section id="main-carousel" class="carousel slide" data-ride="carousel">		 
    <ol class="carousel-indicators">
        <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#main-carousel" data-slide-to="1"></li>
        <li data-target="#main-carousel" data-slide-to="2"></li>
        <li data-target="#main-carousel" data-slide-to="3"></li>
        <li data-target="#main-carousel" data-slide-to="4"></li>
        <li data-target="#main-carousel" data-slide-to="5"></li>
       
    </ol><!--/.carousel-indicators-->

    <div class="carousel-inner">
        <div class="item active" style="background-image: url({{ asset('bundles/skaphandrusdivingadvisors/images/slider/1.jpg') }})">
            <div class="container carousel-caption">							
                <h2 class="heading animated bounceInRight">Increase <span>your destination</span> potential<i class="fa fa-chevron-right"></i></h2>
                <p class="slide-info animated bounceInLeft">Potentiate the best assets and mitigate the weaknesses to convert your diving destination into a prime diving location</p>				
            </div>
        </div>
        <div class="item" style="background-image: url({{ asset('bundles/skaphandrusdivingadvisors/images/slider/2.jpg') }})">
            <div class="container carousel-caption">							
                <h2 class="heading animated swing"><span>Identify potential</span> markets<i class="fa fa-chevron-right"></i></h2>
                <p class="slide-info animated swing">Where, when and how to promote your dive destination</p>				
            </div>
        </div>
        <div class="item" style="background-image: url({{ asset('bundles/skaphandrusdivingadvisors/images/slider/3.jpg') }})">
            <div class="container carousel-caption">							
                <h2 class="heading animated bounceInDown"><span>Strategy for</span> exhibits<i class="fa fa-chevron-right"></i></h2>
                <p class="slide-info animated bounceInUp">Which international diving fairs to attend and how to make your booth stand out</p>			
            </div>
        </div>
        <div class="item" style="background-image: url({{ asset('bundles/skaphandrusdivingadvisors/images/slider/4.jpg') }})">
            <div class="container carousel-caption">							
                <h2 class="heading animated fadeInLeftBig">Content <span>creation and marketing</span><i class="fa fa-chevron-right"></i></h2>
                <p class="slide-info animated fadeInRightBig">Promo material (articles, photos, videos, guides, leaflets etc.)</p>				
            </div>
        </div>
        <div class="item" style="background-image: url({{ asset('bundles/skaphandrusdivingadvisors/images/slider/5.jpg') }})">
            <div class="container carousel-caption">							
                <h2 class="heading animated fadeInRightBig"><span>Creative</span> design<i class="fa fa-chevron-right"></i></h2>
                <p class="slide-info animated fadeInLeftBig">Creative design solutions for communication, interaction, web and product design</p>				
            </div>
        </div>
        <div class="item" style="background-image: url({{ asset('bundles/skaphandrusdivingadvisors/images/slider/6.jpg') }})">
            <div class="container carousel-caption">							
                <h2 class="heading animated fadeInRightBig">Web and mobile <span>development</span><i class="fa fa-chevron-right"></i></h2>
                <p class="slide-info animated fadeInLeftBig">Using mobile technology so your audience can reach you anytime and anywhere</p>				
            </div>
        </div>

    </div> 	
</section><!--/#main-carousel-->