{# empty Twig template #}

    <section id="main-carousel" class="carousel slide" data-ride="carousel">		 
		<ol class="carousel-indicators">
			<li data-target="#main-carousel" data-slide-to="0" class="active"></li>
			<li data-target="#main-carousel" data-slide-to="1"></li>
			<li data-target="#main-carousel" data-slide-to="2"></li>
			<li data-target="#main-carousel" data-slide-to="3"></li>
			<li data-target="#main-carousel" data-slide-to="4"></li>
		</ol><!--/.carousel-indicators-->
		
		<div class="carousel-inner">
			<div class="item active" style="background-image: url({{ asset('bundles/skaphandrusdivingadvisors/images/slider/1.jpg') }})">
				<div class="container carousel-caption">							
					<h2 class="heading animated bounceInRight">We love to explore, <span>design</span><i class="fa fa-chevron-right"></i></h2>
					<p class="slide-info animated bounceInLeft">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>				
				</div>
			</div>
			<div class="item" style="background-image: url({{ asset('bundles/skaphandrusdivingadvisors/images/slider/2.jpg') }})">
				<div class="container carousel-caption">							
			<h2 class="heading animated swing">We provide digital <span>service</span><i class="fa fa-chevron-right"></i></h2>
					<p class="slide-info animated swing">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>				
				</div>
			</div>
			<div class="item" style="background-image: url({{ asset('bundles/skaphandrusdivingadvisors/images/slider/3.jpg') }})">
				<div class="container carousel-caption">							
					<h2 class="heading animated bounceInDown">We are great disital <span>agency</span><i class="fa fa-chevron-right"></i></h2>
					<p class="slide-info animated bounceInUp">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>			
				</div>
			</div>
			<div class="item" style="background-image: url({{ asset('bundles/skaphandrusdivingadvisors/images/slider/4.jpg') }})">
				<div class="container carousel-caption">							
					<h2 class="heading animated fadeInLeftBig">We love to explore <span>design</span><i class="fa fa-chevron-right"></i></h2>
					<p class="slide-info animated fadeInRightBig">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>				
				</div>
			</div>
			<div class="item" style="background-image: url({{ asset('bundles/skaphandrusdivingadvisors/images/slider/5.jpg') }})">
				<div class="container carousel-caption">							
				<h2 class="heading animated fadeInRightBig">We love to explore <span>design</span><i class="fa fa-chevron-right"></i></h2>
					<p class="slide-info animated fadeInLeftBig">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>				
				</div>
			</div>
		</div> 	
    </section><!--/#main-carousel-->