{# empty Twig template #}

	
	<section id="clients">
		<div class="container">
			<div class="row text-center entry-header wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="300ms">
				<div class="col-sm-6 col-sm-offset-3">
					<h2>Our <span>Clients</span></h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since </p>
				</div>		
			</div>
			<div id="clients-carousel" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner wow flipInX" data-wow-duration="1200ms" data-wow-delay="500ms">
					<div class="item active">						
						<ul>
							<li><a class="img-responsive" href="#"><img src="{{ asset('bundles/skaphandrusdivingadvisors/images/icon1.png') }}" alt="" /></a></li>
							<li><a class="img-responsive" href="#"><img src="{{ asset('bundles/skaphandrusdivingadvisors/images/icon2.png') }}" alt="" /></a></li>
							<li><a class="img-responsive" href="#"><img src="{{ asset('bundles/skaphandrusdivingadvisors/images/icon3.png') }}" alt="" /></a></li>
							<li><a class="img-responsive" href="#"><img src="{{ asset('bundles/skaphandrusdivingadvisors/images/icon4.png') }}" alt="" /></a></li>
						</ul>
					</div>
					<div class="item">
						<ul>
							<li><a class="img-responsive" href="#"><img src="{{ asset('bundles/skaphandrusdivingadvisors/images/icon1.png') }}" alt="" /></a></li>
							<li><a class="img-responsive" href="#"><img src="{{ asset('bundles/skaphandrusdivingadvisors/images/icon2.png') }}" alt="" /></a></li>
							<li><a class="img-responsive" href="#"><img src="{{ asset('bundles/skaphandrusdivingadvisors/images/icon3.png') }}" alt="" /></a></li>
							<li><a class="img-responsive" href="#"><img src="{{ asset('bundles/skaphandrusdivingadvisors/images/icon4.png') }}" alt="" /></a></li>
						</ul>
					</div>
				</div>
				<a class="client-left" href="#clients-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
				<a class="client-right" href="#clients-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
			</div>
		</div>
	</section><!--/#clients--> 	