{# empty Twig template #}


<section id="portfolio">
    <div class="container">
        <div class="container text-center entry-header wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="300ms">
            <div class="col-sm-6 col-sm-offset-3">
                <h2>Our <span>Portfolio</span></h2>
                <p>We love bringing your business to life. Just take a look at what we've done! Check Out our Work. </p>	
            </div>		
        </div>			
        <div id="portfolio-slider" class="carousel slide carousel-fade" data-ride="carousel">
            <div class=" carousel-inner wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">
                <div class="item row">
                    <div class="col-sm-6">
                        <div class="recent-port-img animated fadeInUpBig">
                            <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/slide0.jpg') }}" alt="portfolio" />
                        </div>							
                    </div>
                    <div class="col-sm-6 default-bg">
                        <div class="recent-port-text animated fadeInDownBig">
                            <h2>Ocean Life ID App</h2>
                            <p>The Ocean Life ID application is based on identification keys which uses images and scientific illustrations as the solution to allow anyone to identify the observed organisms when the scientific name is unknown. </p>
                            <ul>
                                <li><i class="fa fa-angle-double-right"></i> Developed by marine biologists, scientific illustrators and divers. </li>
                                <li><i class="fa fa-angle-double-right"></i> Simple identification process that allows a fast species identification. </li>
                                <li><i class="fa fa-angle-double-right"></i> Educational for divers and anyone that loves the sea.</li>
                                <li><i class="fa fa-angle-double-right"></i> Make your observations more valuable and useful to science.</li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="item active row">
                    <div class="col-sm-6">
                        <div class="recent-port-img animated fadeInUpBig">
                            <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/slide1.jpg') }}" alt="portfolio" />
                        </div>							
                    </div>
                    <div class="col-sm-6 default-bg">
                        <div class="recent-port-text animated fadeInDownBig">
                            <h2>Azores Stand at Boot</h2>
                            <p>Promoting the Azores Islands at Europe's largest diving fair, at Dusseldorf - Germany.
                                We have been the official suppliers of photo and video contents for the Azores Tourism Bureau official stand at the Boot fair for the third year in a row.
                                We also developed and released both the Azores diving destination official promotional video and dive destination printed brochure. </p>
                            <ul>
                                <li><i class="fa fa-angle-double-right"></i> Decoration of the booth with our photos. </li>
                                <li><i class="fa fa-angle-double-right"></i> Official Azores diving video at booth. </li>
                                <li><i class="fa fa-angle-double-right"></i> Official Azores dive destination brochure.</li>

                            </ul>
                        </div>
                    </div>
                </div>        



                <div class="item row">
                    <div class="col-sm-6">
                        <div class="recent-port-img animated fadeInUpBig">
                            <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/slide2.jpg') }}" alt="portfolio" />
                        </div>							
                    </div>
                    <div class="col-sm-6 default-bg">
                        <div class="recent-port-text animated fadeInDownBig">
                            <h2>Azores Sea Life</h2>
                            <p>Large format outdoor exposition about the sea life of the Azores. 
                                Our outdoor exposition was launched at the Lisbon Oceanarium and viewed by over 600 000 people. 
                            </p>
                            <ul>
                                <li><i class="fa fa-angle-double-right"></i> Over 60 square meters of fine print. </li>
                                <li><i class="fa fa-angle-double-right"></i> 2 years of Nacional and International itineracy. </li>
                                <li><i class="fa fa-angle-double-right"></i> To be seen by over 1 million people.</li>

                            </ul>                        </div>
                    </div>
                </div>
               <!-- <div class="item row">
                    <div class="col-sm-6">
                        <div class="recent-port-img animated fadeInUpBig">
                            <img class="img-responsive" src="{# asset('bundles/skaphandrusdivingadvisors/images/portfolio/slide3.jpg') #}" alt="portfolio" />
                        </div>							
                    </div>
                    <div class="col-sm-6 default-bg">
                        <div class="recent-port-text animated fadeInDownBig">
                            <h2>Madeira Diving</h2>
                            <p>Our team member Nuno Sá has released a Diving guide of Madeira archipelago showing the islands top diving spots. All the info about diving in Madeira including the top 20 sites, charts, average temperatures, traveling advices and a lot more.</p>
                            <ul>
                                <li><i class="fa fa-angle-double-right"></i> Over 100 pages. </li>
                                <li><i class="fa fa-angle-double-right"></i> Photos, scientific illustrations and a lot more. </li>
                                <li><i class="fa fa-angle-double-right"></i> Everything a diver needs to know to plan a visit to Madeira.</li>

                            </ul>
                        </div>
                    </div>
                </div>-->
            </div>
            <ol class="carousel-indicators">
                <li data-target="#portfolio-slider" data-slide-to="0" class="active"></li>
                <li data-target="#portfolio-slider" data-slide-to="1"></li>
                <li data-target="#portfolio-slider" data-slide-to="2"></li>
            </ol><!--/.carousel-indicators-->
        </div>
        <div id="folio-items" class="portfolios wow fadeInUpBig" data-wow-duration="1500ms" data-wow-delay="300ms">
            <ul class="portfolio-filter text-center">                                         
                <li><a class="active" href="#" data-filter="*">All</a></li>
                <li><a href="#" data-filter=".apps">Apps</a></li>
                <li><a href="#" data-filter=".books">Books</a></li>
                <li><a href="#" data-filter=".design">Design</a></li>
                <li><a href="#" data-filter=".exhibitions">Exhibitions</a></li>
                <li><a href="#" data-filter=".press">Press</a></li>
                <li><a href="#" data-filter=".videos">Videos</a></li>
                <li><a href="#" data-filter=".web">Web</a></li>
            </ul><!--/#portfolio-filter-->

            <div class="row portfolio-items">



                <div class="col-sm-4 portfolio-item apps">
                    <div class="view">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/00001.jpg') }}" alt="">
                        </div>	
                        <div class="mask">
                            <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 portfolio-item apps">
                    <div class="view">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/00002.jpg') }}" alt="">
                        </div>	
                        <div class="mask">
                            <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>        


                <div class="col-sm-4 portfolio-item press">
                    <div class="view">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/01.jpg') }}" alt="">
                        </div>	
                        <div class="mask">
                            <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 portfolio-item press">
                    <div class="view">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/02.jpg') }}" alt="">
                        </div>	
                        <div class="mask">
                            <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>




                <div class="col-sm-4 portfolio-item press">
                    <div class="view">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/04.jpg') }}" alt="">
                        </div>	
                        <div class="mask">
                            <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 portfolio-item press">
                    <div class="view">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/05.jpg') }}" alt="">
                        </div>	
                        <div class="mask">
                            <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 portfolio-item press">
                    <div class="view">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/06.jpg') }}" alt="">
                        </div>	
                        <div class="mask">
                            <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 portfolio-item press">
                    <div class="view">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/07.jpg') }}" alt="">
                        </div>	
                        <div class="mask">
                            <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 portfolio-item press">
                    <div class="view">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/08.jpg') }}" alt="">
                        </div>	
                        <div class="mask">
                            <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 portfolio-item press">
                    <div class="view">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/09.jpg') }}" alt="">
                        </div>	
                        <div class="mask">
                            <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 portfolio-item press">
                    <div class="view">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/10.jpg') }}" alt="">
                        </div>	
                        <div class="mask">
                            <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>


                <div class="col-sm-4 portfolio-item web">
                    <div class="view">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/0001.jpg') }}" alt="">
                        </div>	
                        <div class="mask">
                            <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 portfolio-item web">
                    <div class="view">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/0002.jpg') }}" alt="">
                        </div>	
                        <div class="mask">
                            <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div> 
                <div class="col-sm-4 portfolio-item web">
                    <div class="view">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/0003.jpg') }}" alt="">
                        </div>	
                        <div class="mask">
                            <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>



                <div class="col-sm-4 portfolio-item books">
                    <div class="view">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/1.jpg') }}" alt="">
                        </div>	
                        <div class="mask">
                            <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 portfolio-item books">
                    <div class="view">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/2.jpg') }}" alt="">
                        </div>	
                        <div class="mask">
                            <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 portfolio-item books">
                    <div class="view">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/3.jpg') }}" alt="">
                        </div>	
                        <div class="mask">
                            <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 portfolio-item exhibitions">
                    <div class="view">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/001.jpg') }}" alt="">
                        </div>	
                        <div class="mask">
                            <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 portfolio-item exhibitions">
                    <div class="view">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/002.jpg') }}" alt="">
                        </div>	
                        <div class="mask">
                            <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 portfolio-item exhibitions">
                    <div class="view">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/003.jpg') }}" alt="">
                        </div>	
                        <div class="mask">
                            <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 portfolio-item exhibitions">
                    <div class="view">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/004.jpg') }}" alt="">
                        </div>	
                        <div class="mask">
                            <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>


                <!-- <div class="col-sm-4 portfolio-item animation web corporate">
                         <div class="view">
                                 <div class="portfolio-image">
                                         <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/2.jpg') }}" alt="">
                                 </div>	
                                 <div class="mask">
                                         <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                                 </div>
                         </div>
                 </div>
                 <div class="col-sm-4 portfolio-item video creative">
                         <div class="view">
                                 <div class="portfolio-image">
                                         <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/3.jpg') }}" alt="">
                                 </div>	
                                 <div class="mask">
                                         <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                                 </div>
                         </div>
                 </div>
                 <div class="col-sm-4 portfolio-item animation architecture">
                         <div class="view">
                                 <div class="portfolio-image">
                                         <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/4.jpg') }}" alt="">
                                 </div>	
                                 <div class="mask">
                                         <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                                 </div>
                         </div>
                 </div>
                 <div class="col-sm-4 portfolio-item architecture creative web">
                         <div class="view">
                                 <div class="portfolio-image">
                                         <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/5.jpg') }}" alt="">
                                 </div>	
                                 <div class="mask">
                                         <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                                 </div>
                         </div>
                 </div>
                 <div class="col-sm-4 portfolio-item animation web video">
                         <div class="view">
                                 <div class="portfolio-image">
                                         <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/6.jpg') }}" alt="">
                                 </div>	
                                 <div class="mask">
                                         <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                                 </div>
                         </div>
                 </div>	-->				
            </div>								
        </div>
    </div>
    <div id="portfolio-details">
        <div id="single-portfolio">

        </div>
    </div><!-- /#portfolio-details-->
</section><!--/#portfolio-->
