{# empty Twig template #}


<section id="portfolio">
    <div class="container">
        <div class="container text-center entry-header wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="300ms">
            <div class="col-sm-6 col-sm-offset-3">
                <h2>Our <span>Portfolio</span></h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since </p>	
            </div>		
        </div>			
        <div id="portfolio-slider" class="carousel slide carousel-fade" data-ride="carousel">
            <div class=" carousel-inner wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">
                <div class="item active row">
                    <div class="col-sm-6">
                        <div class="recent-port-img animated fadeInUpBig">
                            <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/slide1.jpg') }}" alt="portfolio" />
                        </div>							
                    </div>
                    <div class="col-sm-6 default-bg">
                        <div class="recent-port-text animated fadeInDownBig">
                            <h2>Recent Project</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries </p>
                            <ul>
                                <li><i class="fa fa-angle-double-right"></i> But also the leap into electronic typesetting, </li>
                                <li><i class="fa fa-angle-double-right"></i> Remaining essentially unchanged. </li>
                                <li><i class="fa fa-angle-double-right"></i> It was popularised in the 1960s with the release.</li>
                                <li><i class="fa fa-angle-double-right"></i> Letraset sheets containing Lorem Ipsum passages  </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="item row">
                    <div class="col-sm-6">
                        <div class="recent-port-img animated fadeInUpBig">
                            <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/slide2.jpg') }}" alt="portfolio" />
                        </div>							
                    </div>
                    <div class="col-sm-6 default-bg">
                        <div class="recent-port-text animated fadeInDownBig">
                            <h2>Azores Sea Life</h2>
                            <p>
                                
                                
                            </p>
                            <ul>
                                <li><i class="fa fa-angle-double-right"></i> Large format outdoor exposition about the sea life of the Azores. </li>
                                <li><i class="fa fa-angle-double-right"></i> Our outdoor exposition was launched at the Lisbon Oceanarium and viewed by over 600 000 people. </li>
                                <li><i class="fa fa-angle-double-right"></i> Over 60 square meters of the most amazing imagery of the Azorean waters in front of one of Lisbons most visited sites.</li>
                              
                            </ul>                        </div>
                    </div>
                </div>
                <div class="item row">
                    <div class="col-sm-6">
                        <div class="recent-port-img animated fadeInUpBig">
                            <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/slide3.jpg') }}" alt="portfolio" />
                        </div>							
                    </div>
                    <div class="col-sm-6 default-bg">
                        <div class="recent-port-text animated fadeInDownBig">
                            <h2>Recent Project</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries </p>
                            <ul>
                                <li><i class="fa fa-angle-double-right"></i> But also the leap into electronic typesetting, </li>
                                <li><i class="fa fa-angle-double-right"></i> Remaining essentially unchanged. </li>
                                <li><i class="fa fa-angle-double-right"></i> It was popularised in the 1960s with the release.</li>
                                <li><i class="fa fa-angle-double-right"></i> Letraset sheets containing Lorem Ipsum passages  </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <ol class="carousel-indicators">
                <li data-target="#portfolio-slider" data-slide-to="0" class="active"></li>
                <li data-target="#portfolio-slider" data-slide-to="1"></li>
                <li data-target="#portfolio-slider" data-slide-to="2"></li>
            </ol><!--/.carousel-indicators-->
        </div>
        <div id="folio-items" class="portfolios wow fadeInUpBig" data-wow-duration="1500ms" data-wow-delay="300ms">
            <ul class="portfolio-filter text-center">                                         
                <li><a class="active" href="#" data-filter="*">All</a></li>
                <li><a href="#" data-filter=".apps">Apps</a></li>
                <li><a href="#" data-filter=".books">Books</a></li>
                <li><a href="#" data-filter=".design">Design</a></li>
                <li><a href="#" data-filter=".exhibitions">Exhibitions</a></li>
                <li><a href="#" data-filter=".press">Press</a></li>
                <li><a href="#" data-filter=".videos">Videos</a></li>
                <li><a href="#" data-filter=".web">Web</a></li>
            </ul><!--/#portfolio-filter-->

            <div class="row portfolio-items">

                        
                        
                <div class="col-sm-4 portfolio-item apps">
                    <div class="view">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/00001.jpg') }}" alt="">
                        </div>	
                        <div class="mask">
                            <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 portfolio-item apps">
                    <div class="view">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/00002.jpg') }}" alt="">
                        </div>	
                        <div class="mask">
                            <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>        
                        
                        
                <div class="col-sm-4 portfolio-item press">
                    <div class="view">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/01.jpg') }}" alt="">
                        </div>	
                        <div class="mask">
                            <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 portfolio-item press">
                    <div class="view">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/02.jpg') }}" alt="">
                        </div>	
                        <div class="mask">
                            <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                        
                        
                        

                <div class="col-sm-4 portfolio-item press">
                    <div class="view">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/04.jpg') }}" alt="">
                        </div>	
                        <div class="mask">
                            <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 portfolio-item press">
                    <div class="view">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/05.jpg') }}" alt="">
                        </div>	
                        <div class="mask">
                            <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 portfolio-item press">
                    <div class="view">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/06.jpg') }}" alt="">
                        </div>	
                        <div class="mask">
                            <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 portfolio-item press">
                    <div class="view">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/07.jpg') }}" alt="">
                        </div>	
                        <div class="mask">
                            <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 portfolio-item press">
                    <div class="view">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/08.jpg') }}" alt="">
                        </div>	
                        <div class="mask">
                            <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 portfolio-item press">
                    <div class="view">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/09.jpg') }}" alt="">
                        </div>	
                        <div class="mask">
                            <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 portfolio-item press">
                    <div class="view">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/10.jpg') }}" alt="">
                        </div>	
                        <div class="mask">
                            <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>

                        
                <div class="col-sm-4 portfolio-item web">
                    <div class="view">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/0001.jpg') }}" alt="">
                        </div>	
                        <div class="mask">
                            <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 portfolio-item web">
                    <div class="view">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/0002.jpg') }}" alt="">
                        </div>	
                        <div class="mask">
                            <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div> 
                <div class="col-sm-4 portfolio-item web">
                    <div class="view">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/0003.jpg') }}" alt="">
                        </div>	
                        <div class="mask">
                            <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>

                        
                        
                <div class="col-sm-4 portfolio-item books">
                    <div class="view">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/1.jpg') }}" alt="">
                        </div>	
                        <div class="mask">
                            <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 portfolio-item books">
                    <div class="view">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/2.jpg') }}" alt="">
                        </div>	
                        <div class="mask">
                            <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                        
                                        <div class="col-sm-4 portfolio-item books">
                    <div class="view">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/3.jpg') }}" alt="">
                        </div>	
                        <div class="mask">
                            <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 portfolio-item exhibitions">
                    <div class="view">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/001.jpg') }}" alt="">
                        </div>	
                        <div class="mask">
                            <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 portfolio-item exhibitions">
                    <div class="view">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/002.jpg') }}" alt="">
                        </div>	
                        <div class="mask">
                            <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                        
                                        <div class="col-sm-4 portfolio-item exhibitions">
                    <div class="view">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/003.jpg') }}" alt="">
                        </div>	
                        <div class="mask">
                            <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 portfolio-item exhibitions">
                    <div class="view">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/004.jpg') }}" alt="">
                        </div>	
                        <div class="mask">
                            <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>


                <!-- <div class="col-sm-4 portfolio-item animation web corporate">
                         <div class="view">
                                 <div class="portfolio-image">
                                         <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/2.jpg') }}" alt="">
                                 </div>	
                                 <div class="mask">
                                         <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                                 </div>
                         </div>
                 </div>
                 <div class="col-sm-4 portfolio-item video creative">
                         <div class="view">
                                 <div class="portfolio-image">
                                         <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/3.jpg') }}" alt="">
                                 </div>	
                                 <div class="mask">
                                         <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                                 </div>
                         </div>
                 </div>
                 <div class="col-sm-4 portfolio-item animation architecture">
                         <div class="view">
                                 <div class="portfolio-image">
                                         <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/4.jpg') }}" alt="">
                                 </div>	
                                 <div class="mask">
                                         <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                                 </div>
                         </div>
                 </div>
                 <div class="col-sm-4 portfolio-item architecture creative web">
                         <div class="view">
                                 <div class="portfolio-image">
                                         <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/5.jpg') }}" alt="">
                                 </div>	
                                 <div class="mask">
                                         <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                                 </div>
                         </div>
                 </div>
                 <div class="col-sm-4 portfolio-item animation web video">
                         <div class="view">
                                 <div class="portfolio-image">
                                         <img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/portfolio/6.jpg') }}" alt="">
                                 </div>	
                                 <div class="mask">
                                         <a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
                                 </div>
                         </div>
                 </div>	-->				
            </div>								
        </div>
    </div>
    <div id="portfolio-details">
        <div id="single-portfolio">

        </div>
    </div><!-- /#portfolio-details-->
</section><!--/#portfolio-->
